h2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 68px;
}

/* Pre-loader */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999999999999;
}
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 3s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 3s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(100px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(100px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(100px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(100px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-26px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-26px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-26px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-26px);
  }
}

/* Bagian Khusus Hero */
.cd-headline {
  line-height: 1.2;
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  width: inherit !important;
}
.cd-words-wrapper b {
  font-weight: inherit;
  color: #7ce609;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-size: 70px;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
.cd-headline.push {
  font-family: "Josefin Sans";
  font-size: 70px;
  color: #fff;
}
.cd-headline.push b {
  opacity: 0;
}
.cd-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  animation: push-out 0.6s;
}
@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* Selesai */
@media screen and (max-width: 991px) {
  /* .jumbotron { */
  /* background-attachment: scroll !important; */
  /* background-position: 50% 0% !important; */
  /* padding-bottom: 0rem; */
  /* } */

  .jumbotron .cd-words-wrapper b {
    font-size: 45px;
    line-height: 1.4;
  }
  .jumbotron .cd-words-wrapper b {
    font-size: 45px;
    line-height: 1.4;
  }
}

/* About */
#about {
  background-color: #0f0f0f;
}

.about .skills .skill-progress {
  height: 8px;
  width: 100%;
  background-color: #333;
  border-radius: 20px;
  position: relative;
}
.about .skills .skill-progress .progres {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #7ce609;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.about .skills .skill-progress .progres:after {
  content: attr(data-value);
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 10px;
}

@media screen and (max-width: 1115px) {
  .about img {
    height: 100%;
    width: 300px;
  }
}

.about .skills h4 {
  padding-top: 20px;
  padding-bottom: 1px;
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: 500;
}

.about .skills h3 {
  font-family: "Rubik";
  color: #dfe2e3;
  font-size: 70px;
  font-weight: 900;
}

.about .content h6 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Josefin Sans";
  color: #fff;
  letter-spacing: 5px;
}

.about .content h4 {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  background: #7ce609;
  padding: 5px 10px;
  margin-bottom: 20px;
}

/* Service */
.services h2 {
  font-family: "Rubik";
  color: #dfe2e3;
  font-size: 70px;
  font-weight: 900;
}

.services .item {
  text-align: center;
  padding: 50px 20px;
  background: #0a0a0c;
}
.services .item:hover .fa {
  color: #fff;
}
.services .item:hover .fa:after {
  background: #7ce609;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.services .item .fa {
  display: inline-block;
  color: #7ce609;
  font-size: 45px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  margin-bottom: 30px;
  /* margin-left: 20px; */
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 99;
}
.services .item .fa i:after {
  content: "";
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 30px;
  /* background: #333; */
  /* background: rgba(200, 200, 200, 0.05); */
  z-index: -1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.services .item h3 {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "Rubik";
  color: #fff;
}
/* Project */
.project h2 {
  font-family: "Rubik";
  color: #dfe2e3;
  font-size: 70px;
  font-weight: 900;
}

/* Contact */
.contact h2 {
  font-family: "Rubik";
  color: #dfe2e3;
  font-size: 70px;
  font-weight: 900;
}
